[Unit]
Description=TPM 2.0 TCG Software Stack service
After=syslog.target network.target
ConditionPathExists=/dev/tpm0
ConditionPathExistsGlob=/sys/class/tpm/tpm0/@TPM_DESCRIPTION@

[Service]
Type=simple
ExecStartPre=/bin/sh -c "fgrep '@FAMILY_MAJOR@' /sys/class/tpm/tpm0/@TPM_DESCRIPTION@"
ExecStart=/usr/sbin/resourcemgr

TimeoutSec=30s
Restart=on-failure
RestartSec=4
StartLimitInterval=25
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
